<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <style type="text/css">
            .form-body {
                color: #eee;
                background: #121212;
                margin-left : 12labelx;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            #cancel-btn {
                text-decoration: none;
                color:white;
            }
        </style>

    </head>

    <body class="form-body">

        <div class="container">
            <div>
                <% if (locals.errorMsg != null) { %>
                    <p><%=errorMsg%></p>
                <% } %>
            </div>
    
            <h2>Update Album Entry</h2>

            <br/>
    
            <form method="POST" action="/albums/<%=album[0]._id%>">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Album Name</label>
                  <input type="text" class="form-control" value="<%=album[0].name%>" aria-describedby="emailHelp" name="name" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Artist Name</label>
                  <input type="text" class="form-control" value="<%=album[0].artist%>" name="artist" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Number of Songs</label>
                    <input type="text" class="form-control" value="<%=album[0].no_of_songs%>" name="no_of_songs" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Genre</label>
                    <input type="text" class="form-control" value="<%=album[0].genre%>" name="genre" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Release Date</label>
                    <input type="date" class="form-control" value="<%=album[0].release_date.toISOString().split('T')[0]%>" name="release_date" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-primary"><a id="cancel-btn" href="/albums">Cancel</a></button>
            </form>
        </div>
    
    </body>
</html>